*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab

# Android Studio
.navigation/
/app/build
/app/release

# Log files
*.log

# Keystore files
*.jks
*.keystore

# Google Services (if ever added)
google-services.json
